*{
    padding: 0;
    margin: 0;
 }
 em,i{
    font-style: normal;
 }
ul,ol,li{
    list-style: none;
}
a{
    color: #666;
    text-decoration: none;
}
input{
    outline: none;
    border: none;
 }

 /*统一的宽度*/
 .w{
    width: 1200px;
    margin: 0 auto;
 }

 button{
    border: 0;
 }