<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sicnu.boot.mapper.HomeMapper">

    <select id="getVideoCount" resultType="java.lang.Integer">
        select count(*) from video;
    </select>
    <select id="getTeacherCount" resultType="java.lang.Integer">
        select count(*) from teacher
    </select>
    <select id="getUserCount" resultType="java.lang.Integer">
        select count(*) from user
    </select>
    <select id="getQuestionCount" resultType="java.lang.Integer">
        select count(*) from question
    </select>
    <select id="getSchoolCount" resultType="java.lang.Integer">
        select count(*) from college
    </select>
</mapper>