<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sicnu.boot.mapper.MajorMapper">
<!--    通过id查询专业-->
    <select id="getMajorById" resultType="Major">
        select *from major where major_id=#{majorId}
    </select>
<!--    通过名字查询专业-->
    <select id="getMajorByName" resultType="Major">
        select *from major where name like '%${name}%'
    </select>
<!--    查询所有专业-->
    <select id="getAllMajor" resultType="Major">
        select *from major
    </select>
<!--    通过学校id查询专业-->
    <select id="getMajorListByCollegeId" resultType="Major">
        select *from major where major_id in (select major_id from college_major where college_id = #{collegeId})
    </select>
<!--    获取分类列表-->
    <select id="getMajorClassify" resultType="com.sicnu.boot.vo.MajorClassify">
        select *from major_classify
    </select>
<!--    通过选择获取专业信息-->
    <select id="getMajorListBySelective" resultType="Major">
        select *from major where major_id in (select major_id from college_major where college_id = #{collegeId} and classify_id = #{classifyId})
    </select>
</mapper>
