<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sicnu.boot.mapper.MessageMapper">
<!--    查询老师-->
    <select id="getMessageById" resultType="Message">
        select message_id,user.user_id,user.nickname,content,message_time,user.image from message,user where teacher_id=#{teacherId} and message.user_id=user.user_id;
    </select>

    <insert id="insertMessage" parameterType="Message">
        insert into message values(null,#{userId},#{nickName},
                                   #{content},#{messageTime},#{teacherId})
    </insert>

    <select id="getAllMessage" resultType="Message">
        select * from message
    </select>
</mapper>
