<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sicnu.boot.mapper.QuestionMapper">

    <select id="getQuestionList" resultType="com.sicnu.boot.pojo.Question">
        select * from question where classify_id = #{questionClassify}
    </select>
    <select id="getQuestionChoiceByQuestionId" resultType="com.sicnu.boot.pojo.QuestionChoice">
        select * from question_choice where question_id = #{questionId}
    </select>
</mapper>