<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sicnu.boot.mapper.TeacherExamineMapper">

    <select id="getAllExamine" resultType="TeacherExamine">
        select * from teacher_examine;
    </select>

    <insert id="insertExamine" parameterType="TeacherExamine">
        insert into teacher_examine values (null,#{name},#{background},#{directionId},#{directionName},
                                            null,#{teachTime},#{information},null,#{qualification},#{userId},
                                            #{applyReason},#{applyDate},
                                            null,0,1,#{reviewComment})
    </insert>


    <update id="updateAgrExamine" parameterType="TeacherExamine">
        update teacher_examine  set examine_status = 1
        where examine_id = #{examineId};
    </update>

    <insert id="passExamine" parameterType="TeacherExamine">
        insert into teacher values
                                (null,#{name},#{background},#{directionId},#{directionName},null,#{teachTime},#{information},null,#{qualification},#{userId})
    </insert>

    <select id="getExamine" resultType="TeacherExamine">
        select * from teacher_examine where examine_id=#{examineId}
    </select>

    <update id="updateDisAgrExamine" parameterType="TeacherExamine">
        update teacher_examine set examine_status = 2,review_comment=#{reviewComment}
        where examine_id = #{examineId}
    </update>

    <delete id="deleteExamine">
        delete from teacher_examine where user_id = #{userId}
    </delete>
</mapper>
