<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sicnu.boot.mapper.TeacherQuestionMapper">
<!--根据老师id查询对老师的问题-->
    <select id="getTeacherQuestionById" resultType="TeacherQuestion">
        select question,answer,image from teacher_question,user where teacher_question.teacher_id =#{teacherId} and user.user_id=teacher_question.user_id;
    </select>
<!--根据老师id查询未回复的提问-->
    <select id="getTeacherAnswerById" resultType="TeacherQuestion">
        select question from teacher_question where user_id=#{teacherId} and appear=1
    </select>
<!--根据老师id提问-->
    <insert id="insertTeacherQuestion" parameterType="TeacherQuestion">
        insert into teacher_question values (null,#{teacherId},#{question},#{userId},1,null)
    </insert>
<!--根据学生id进行回复-->
    <update id='updateTeacherAppear' parameterType="TeacherQuestion">
        update teacher_question set answer=#{answer},appear = 0
        where user_id = #{userId}
    </update>
</mapper>
