<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sicnu.boot.mapper.VideoMapper">
    <select id="getVideoListBySelective" resultType="Video" parameterType="com.sicnu.boot.vo.VideoSelective">
        select video_id,name,time,image,view_num,duration,comment_num,author_id from video
        <where>
            <if test="videoName != null and videoName != ''">
                and name like "%" #{videoName} "%"
            </if>
            <if test="videoType != null and videoType != ''">
                and (type_one = #{videoType}  or type_two = #{videoType} or type_three = #{videoType})
            </if>
            <if test="videoDuration != null and videoDuration != ''">
                and duration <![CDATA[<=]]> #{videoDuration}
            </if>
        </where>
        <if test="videoSortName != null and videoSortName != ''">
            order by ${videoSortName} desc
        </if>
    </select>

    <select id="getVideoByVideoId" resultType="Video">
        select * from video where video_id = #{videoId}
    </select>
</mapper>