<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sicnu.boot.mapper.VideoMapper">
    <insert id="collectVideo">
        insert into video_collection values (#{videoId},#{userId})
    </insert>
    <insert id="insertVideoExamine" parameterType="VideoExamine">
        insert into video_examine(examine_id, name, time, introduction, author_id,
                                  image, type_id, type_name, duration, link)
            values (null,#{name},#{time},#{introduction},#{authorId},#{image},
                    #{typeId},#{typeName},#{duration},#{link})
    </insert>
    <insert id="insertVideo" parameterType="VideoExamine">
        insert into video values(null,#{name},#{time},0,#{introduction},#{resourceId},
                   #{authorId},#{image},0,0,#{typeId},#{typeName},#{duration},#{link},0)
    </insert>
    <insert id="insertResource" useGeneratedKeys="true" keyProperty="resourceId">
        insert into resource values (null,#{name},0,#{introduction})
    </insert>
    <update id="examineVideo">
        update video_examine set pass_date = #{passDate},examine_status = #{examineResult},
                                 apply_id = #{applyId},review_comment = #{reviewComment}
        where examine_id = #{examineId}
    </update>
    <update id="updateCollectNum">
        update video
        <set>
            <if test="status == 0">
                collectNum = collectNum + 1
            </if>
            <if test="status == 1">
                collectNum = collectNum - 1
            </if>
        </set>
        where video_id = #{videoId}
    </update>
    <update id="updateAddViewNum">
        update video set view_num = view_num + 1 where video_id = #{videoId}
    </update>
    <update id="updateAddCommentNum">
        update video set comment_num = comment_num + 1 where resource_id = #{resourceId}
    </update>
    <delete id="deleteCollectVideo">
        delete from video_collection where user_id = #{userId} and video_id = #{videoId}
    </delete>
    <delete id="deleteVideoById">
        delete from video where video_id = #{videoId}
    </delete>
    <delete id="deleteResource">
        delete from resource where resource_id = #{resourceId}
    </delete>
    <select id="getVideoListBySelective" resultType="Video" parameterType="com.sicnu.boot.vo.VideoSelective">
        select video_id,name,time,image,view_num,duration,comment_num,author_id,collection_num from video
        <where>
            <if test="videoName != null and videoName != ''">
                name like "%" #{videoName} "%"
            </if>
            <if test="typeId != null and typeId != 0">
                and type_id = #{typeId}
            </if>
            <if test="durationValue != null and durationValue != 0">
                and duration <![CDATA[<=]]> #{durationValue}
            </if>
        </where>
        <if test="sortName != null and sortName != ''">
            order by ${sortName} desc
        </if>
    </select>

    <select id="getVideoByVideoId" resultType="Video">
        select * from video where video_id = #{videoId}
    </select>

    <select id="getVideoType" resultType="com.sicnu.boot.vo.VideoType">
        select * from video_type
    </select>
    <select id="checkCollectVideo" resultType="java.lang.Integer">
        select count(*) from video_collection where user_id = #{userId} and video_id = #{videoId}
    </select>
    <select id="getCollectVideoList" resultType="com.sicnu.boot.pojo.Video">
        select video_id,name,time,image,view_num,duration,comment_num,author_id from video
        where video_id in (select video_id from video_collection where user_id = #{userId})
    </select>
    <select id="getVideoTypeName" resultType="java.lang.String">
        select type_name from video_type where type_id = #{typeId}
    </select>
    <select id="getVideoExamineList" resultType="com.sicnu.boot.pojo.VideoExamine">
        select * from video_examine
        <where>
            <if test="examineStatus != null and examineStatus != -1">
                examine_status = #{examineStatus}
            </if>
        </where>
    </select>
    <select id="getVideoExamineById" resultType="com.sicnu.boot.pojo.VideoExamine">
        select * from video_examine where examine_id = #{examineId}
    </select>
    <select id="getVideoByName" resultType="com.sicnu.boot.pojo.Video">
        select video_id,name from video
        <where>
            <trim>name like "%" #{name} "%"</trim>
        </where>
    </select>
    <select id="getVideoListByVideoType" resultType="com.sicnu.boot.pojo.Video">
        select video_id,name,time,image,view_num,duration,comment_num,author_id,collection_num
          from video where type_id = #{typeId}
    </select>
</mapper>