<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sicnu.boot.mapper.VideoMapper">
    <insert id="collectVideo">
        insert into video_collection values (#{videoId},#{userId})
    </insert>
    <delete id="deleteCollectVideo">
        delete from video_collection where user_id = #{userId} and video_id = #{videoId}
    </delete>
    <select id="getVideoListBySelective" resultType="Video" parameterType="com.sicnu.boot.vo.VideoSelective">
        select video_id,name,time,image,view_num,duration,comment_num,author_id from video
        <where>
            <if test="videoName != null and videoName != ''">
                and name like "%" #{videoName} "%"
            </if>
            <if test="typeId != null and typeId != 0">
                and type_id = #{typeId}
            </if>
            <if test="durationValue != null and durationValue != 0">
                and duration <![CDATA[<=]]> #{durationValue}
            </if>
        </where>
        <if test="sortName != null and sortName != ''">
            order by ${sortName} desc
        </if>
    </select>

    <select id="getVideoByVideoId" resultType="Video">
        select * from video where video_id = #{videoId}
    </select>

    <select id="getVideoType" resultType="com.sicnu.boot.vo.VideoType">
        select * from video_type
    </select>
    <select id="checkCollectVideo" resultType="java.lang.Integer">
        select count(*) from video_collection where user_id = #{userId} and video_id = #{videoId}
    </select>
    <select id="getCollectVideoList" resultType="com.sicnu.boot.pojo.Video">
        select video_id,name,time,image,view_num,duration,comment_num,author_id from video
        where video_id in (select video_id from video_collection where user_id = #{userId})
    </select>
</mapper>