/*各个管理页面的CSS*/
.appMain{
  background: #fff;
}
/*每个页面的头部的相关搜索栏*/
.filter-container{
  padding:10px;
  margin-bottom: 10px;
}

/*每个页面的底部的分页器*/
.filter-page {
  text-align: center;
  padding: 30px 0 !important;
}

/*表单中的按钮的局部*/
.filter-tableBtnList{
  display: flex;
}