*{
    padding: 0;
    margin: 0;
 }
 em,i{
    font-style: normal;
 }
ul,ol,li{
    list-style: none;
}
a{
    color: #666;
    text-decoration: none;
}
input{
    outline: none;
    border: none;
 }

 /*统一的宽度*/
 .w{
    width: 1200px;
    margin: 0 auto;
 }

 button{
    border: 0;
 }
 .hiddenBox{
   display: none;
 }
 .showBox{
   display: block;
 }
 /*隐藏多余的文字*/
 .hiddenText{  
   overflow: hidden;
   text-overflow: ellipsis;
 }
 img{
   vertical-align: top !important;
 }

 .centerLocation{
    display: flex;
    justify-content: center;
    align-items: center;
 }